
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}

section h3 { 
	font-size: 100%;
	color:black;
	padding-top:10px;
	margin-bottom:10px;
	background-color:orange;
}

 label {
    float: left;
    width: 6em;
    text-align: right;
}

 section input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 25em;
}

 button, input {
    line-height: normal;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

 #button {
    margin-top: .5em;
    margin-left: 7em;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}

section textarea {
	margin-left: 1em;
	height: 5em;
	width: 25em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

.opinion{
	color:white;
	font-size:90%;
	padding-top:5px;
}

.opinion h3{
	padding-top:5px;
	text-align:left;
}