/* Image List */

main {
	height:950px;
}

ul.posters li{
	list-style: none;
	float: left;
	padding-bottom:20px
}

.imglist{
	border: 1px solid orange;	
	margin:16px;
	list-style: none;
 
}

.imglist:hover{
	width:145px;
	margin-bottom:1px;
	box-shadow: 0 0 10px orange;
}

h1{
	padding:0;
	margin:0;
}
