﻿/* For all document */

html {
	background-image: url("../images/back5.jpg");
	background-size: 70%;	
}

body  {
	margin:40px; 
    font-family: Verdana, Arial, Helvetica;
    width: 920px;
    margin: 0 auto; 
    padding: 0;
    border: 1px solid black;
    box-shadow: 0 9px 9px 9px;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

div.warning h2, h3{
	color: white;
	text-align: center;
	padding-bottom:20px;
}

div.warning h3:first-child{
	padding-top:80px;
}


/* Header */

header {   
    padding: 15px;
	height: 85px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%,  rgb(0,0,0) 100%);
	height:90px;	
} 

header img { 
    float: left; 
    padding-right: 15px;  
} 

headter img:hover{
	width:85;
}

header h2 {
	font-family: Century Gothic;
	text-transform: uppercase;
    font-size: 260%;
	color:white;

}

header h3 {
    font-size: 80%;
	color:white;
text-align:left;
}


/* Navigation menu */


ul{
	margin: 0;
	padding: 0;	
}

ul.nav li {
	background-color: black;
	float: left;
	height: 30px;
	width:228px;
	list-style: none;
	border: 1px solid #3C3C3C;
	text-transform: uppercase;
	color:white;
	font-family: Century Gothic;
}

ul.nav li.special:first-child {
	border-left: 0;
	width:229px;
}

ul.nav li.special:last-child {
	border-right: 0;
	width:229px;
}

ul.nav li.active{
	border-bottom: 1px solid orange;	
}

ul.nav li.active a:hover{
	color:white;	
	font-weight: normal;
}

ul.nav li.active a {
	font-size: 1.1em;
	 color:orange;
}

ul.nav li a {
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 15px;
  color:white;
}

ul.nav li ul {
  display: none;	
color:white;
}
ul.nav { 
  height: 30px;
  width: 920px;

}

ul.nav li:hover {
  background: rgb(228,147,0);
  color:white;
  position: relative;
}
ul.nav li:hover > ul {
  display: block;
  position: absolute;
  top: 30px; 
  left: 0;
  color:white;

}

ul.nav li ul li{
  height: auto;
  width: 227px;
  color:white;

}
ul.nav li:hover ul li ul{
  position: absolute;
  top: 0;  color:white;
  left: 227px; 
}

/* Main */

main{
	height:840px;
	background-image: linear-gradient(rgb(0,0,0) 0% , rgba(0,0,0,0.7) 100%);	
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
	color:white;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	color:white;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	color:white;
}

/*Left*/

.left_column {
    float: left; 
    width: 150px;
    padding: 20px 10px;	
}


.left_column li {	
	padding: 5px;
	text-decoration: none;
	margin-bottom: 5px;
	list-style-type: none;
}

.left_column a>img{
	border: 1px solid orange;
}

.left_column a>img.special{
	border: none;
}

.left_column a > img:hover{ 
	width:160px;
	box-shadow: 0 0 10px orange;
}

.left_column a>img.special:hover{ 
	width:160px;
	box-shadow: none;
}



/* Center */

iframe{
	border: 2px solid black;
	width: 510px;
	height: 355px;
}

span{
	color:orange;
}

.heading{
	padding-top:30px;
	text-transform: uppercase;
	font-size:0.85em;
	font-weight:bold;
	color:orange;
}

.main_column {	
	width:520px;
	float: left;
	color:white;
	padding:20px;
}

.main_column p{
	margin-top:10px;
	text-align: justify;
	margin-bottom: 10px;
}

.main_column h1{
	text-transform: uppercase;
	font-size:1.6em;
	text-align:center;
	padding-bottom:10px;
}

/* Rigth */

q{
	color:white;
	font-style:italic;
	font-size:75%;
}

hr{
 text-align:center;
 width:90;
 font-size:50;
 color:#dddddd; 	
}

.right_column {
	width:165px;
	margin-top:10px;
	float: left;
	padding: 10px;
}

.right_column p{
	color: rgb(228,147,0);
	font-weight:bold;
	text-transform:uppercase;
	padding-bottom: 10px;
	padding-top:10px;
}

.right_column p.info{
	color: gray;
	text-align: right;
	font-weight:normal;
	font-size:60%;
	line-height:1.5em;
	padding-top:10px;
}


.right_column ul{
	color: white;
}

.right_column li{
	list-style-type: none;
	line-height: 1.8em;
	color: white;
}

.right_column a.links>img:hover{
	width:101%;
}

.right_column a {
	color: white;
	text-decoration:none;
}

.right_column a:hover {
	color: rgb(228,147,0);
	text-decoration:none;
}

.right_column a:visited {
	color: gray;
	text-decoration:none;
}

.right_column a:visited:hover{
	color: rgb(228,147,0);
	text-decoration:none;
}


/* Footer */
footer { 
	border-top: 1px solid gray;
    clear: both;   
    padding: 15px;
	background-color: rgba(0,0,0,0.9);
} 

footer p {
    font-size: 90%;
    text-align: center;
	color:white;
	font-size:10px;
}


