/* Table */

table {
	border-collapse: collapse;
	border: 1px solid gray;
	margin: 10px auto;
	color:white;
}
		
thead, tfoot {
	background-color: orange;
	font-weight: bold;
	border: 1px solid gray;
	color: white;
	line-height: 1.5em;
}

th, td {
	padding: .2em .7em;
	text-align: right;
	border: 1px solid gray;
	text-align: left;
	line-height: 2em;
}

th:first-child, td:first-child {
	width: 15px;
	text-align: right;
	font-size: 0.85em;
}
		
th:nth-child(2), td:nth-child(2) {
	width: 90px;
}
		
th:nth-child(3), td:nth-child(3) {
	width: 100px;
}
		
th:nth-child(4), td:nth-child(4) {
	width: 100px;
	font-size: 0.85em;
}
		
th:nth-child(5), td:nth-child(5) {
	width: 60px;
}
		
td:nth-child(2), td:nth-child(5) {
	color:orange;
	font-weight:bold;
}
